In [11]:
# calling all the required library for some basic EDA
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import statsmodels.graphics.tsaplots as sgt
from statsmodels.tsa.arima_model import ARIMA
import statsmodels.tsa.stattools as sts
from scipy.stats.distributions import chi2
from statsmodels.tsa.stattools import adfuller, kpss
from math import sqrt

sns.set()

In [15]:
raw_data = pd.read_csv('data/Gold_data.csv')
df_working = raw_data.copy()
df_working.Date = pd.to_datetime(df_working.Date, dayfirst= True)
df_working.set_index('Date', inplace = True)
df_working.head()

             Price    Open    High     Low     Vol. Change %
Date
2022-03-31  1949.2  1933.5  1949.9  1919.1    3.62K    0.81%
2022-03-30  1933.5  1918.4  1937.0  1914.5   17.77K    1.11%
2022-03-29  1912.2  1922.4  1929.4  1888.3  128.05K   -1.42%
2022-03-28  1939.8  1958.7  1959.8  1915.7  181.37K   -0.74%
2022-03-25  1954.2  1957.8  1965.1  1942.6  147.90K   -0.41%

In [18]:
# reversing the dataframe
df_working = df_working[::-1]
df_working.head()

            Price   Open   High    Low   Vol. Change %
Date
2003-01-31  368.3  368.8  371.5  367.0  6.54K   -0.08%
2003-02-03  370.8  368.0  372.0  368.0  0.82K    0.68%
2003-02-04  379.0  371.4  379.5  371.2  1.36K    2.21%
2003-02-05  376.4  379.0  388.9  374.0  0.83K   -0.69%
2003-02-06  370.1  370.0  377.0  368.4  0.73K   -1.67%

#### Splitting the data!

In [19]:
size = int(len(df_working)*0.8)

In [21]:
df_train = df_working.iloc[:size]
df_train.tail()

             Price    Open    High     Low   Vol. Change %
Date
2018-07-04  1258.1  1256.2  1262.4  1255.3      -   -6.27%
2018-07-05  1347.4  1347.4  1347.4  1347.4  0.01K    7.10%
2018-07-06  1344.6  1344.6  1344.6  1344.6  0.01K   -0.21%
2018-07-09  1348.8  1348.8  1348.8  1348.8  0.04K    0.31%
2018-07-10  1344.9  1344.9  1344.9  1344.9  0.07K   -0.29%

In [24]:
df_test = df_working.iloc[size:]
df_test.head()

             Price    Open    High     Low   Vol. Change %
Date
2018-07-11  1333.1  1333.1  1333.1  1333.1  0.03K   -0.88%
2018-07-12  1335.2  1335.2  1335.2  1335.2  0.01K    0.16%
2018-07-13  1329.0  1327.0  1327.0  1327.0  0.00K   -0.46%
2018-07-16  1327.5  1327.5  1327.5  1327.5  0.00K   -0.11%
2018-07-17  1314.6  1320.0  1320.0  1320.0  0.03K   -0.97%